.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	height: 90px;
	&__left,
	&__right {
    display: flex;
    align-items: center;
    height: 100%;
	}
	&-logo {
		margin-right: 40px;
		height: 70px;
		&__icon {
			height: 90%;
		}
	}

	&-nav {
		margin-right: 40px;
		height: 100%;
		&__list {
			display: flex;
			height: 100%;
			flex-flow: row nowrap;
			align-items: center;
		}
		&__item {
			cursor: pointer;
			height: 100%;
			display: flex;
			align-items: center;
			transition: all 0.5s ease;
			&:not(:last-child) {
				margin-right: 15px;
			}
			:hover {
				&.header-nav__link {
					border-bottom: 2px solid var(--main-color);;
				}
			}
		}
		&__link {
			line-height: 90px;
			height: 100%;
			&.item--active {
				border-bottom: 2px solid var(--main-color);;
			}
		}
	}
	&-profile {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		&__icon {
      margin-right: 15px;

		}
	}
	&-basket {
		margin-left: 30px;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		&__icon {
      margin-right: 20px;
		}
		&__count {
      background-color: var(--main-color);
      color: white;
			width: 40px;
			height: 40px;
			border-radius: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
