.slider {
  height: 230px;
	width: 100%;
  position: relative;
}
.slide {
  transition: .5s;
  min-width: 340px;
  height: 230px;
	border-radius: 50px;
	background-image: url(https://images.unsplash.com/photo-1505616485412-adfcd5561e31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	&__content {
		width: 80%;
		height: inherit;
		margin: 0 auto;
	}
	&__text {
		display: inline-block;
		margin-top: 20px;
		font-size: 25px;
		color: #fff;
	}
}
