.filter {
	width: 100%;
	height: auto;
	&__header {
		font-size: 26px;
		margin-bottom: 15px;
	}
	&__group {
		margin-bottom: 20px;
	}
	&__label {
		display: block;
		cursor: pointer;
		user-select: none;
	}
	&__input {
		margin-right: 10px;
	}
	&__btn {
		margin-top: 20px;
		width: 100%;
		padding: 10px 0;
		border: 2px solid #fcd561;
		outline: none;
		border-radius: 5px;
		background-color: #fff;
		cursor: pointer;
		font-size: 16px;
		font-weight: 700;
		&:active {
			background-color: darken($color: #fff, $amount: 5);
		}
	}
}
.filter-dd {
	&__title {
		font-weight: bold;
		font-size: 20px;
		cursor: pointer;
		user-select: none;
		display: flex;
		align-items: center;
		&::after {
			content: '';
			margin-left: 20px;
			width: 13px;
			height: 13px;
			background-image: url('../../assets/svg/downArrow.svg');
			background-size: cover;
			background-position: center;
		}
		&.list--active {
			&::after {
				transform: rotate(180deg);
			}
		}
	}
	&__list {
		transition: display 0.3s ease;
		display: none;
		margin-top: 10px;
		&.list--active {
			display: block;
		}
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}
.filter-lable--bold {
	font-weight: bold;
	font-size: 20px;
}
